# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# dotenv files
.env
.env.*

# IDEs and editors
.idea/
.vscode/

# Streamlit cache and logs
.streamlit/

# Logs and miscellaneous
*.log
